@use 'variables' as v;

.about-intro{
  padding-top: 60px;
  .intro-decor{
    right: 45%;
  }
  .intro-inner{
    padding-top: 60px;
    .intro-content{
    }
  }
}
.about-me{
  //margin-top: 60px;
  //margin-bottom: 60px;
  //border-top: 1px solid v.$border2_color;
  //border-bottom: 1px solid v.$border2_color;
  //padding-top: 60px;
  //padding-bottom: 60px;
  .about-right{
    .about-content{
      background-color: v.$border_color;
      padding: 50px 50px;
    }
  }
}

.contact-me{
  background-image: url("../imgs/contactme.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.subscribe-blog{
  padding-top: 60px;
  .email-signup{
    input{
      padding: 8px 4px;
    }
  }
}

//we do new
.wedo-new{
  padding-bottom: 60px;
  border-bottom: 1px solid v.$border2_color;
  .decor-line{
    height: 1px;
    background-color: v.$border2_color;
  }
}