@use 'variables' as v;

@import "home";
@import "gallery";
@import "about";
@import "article";
@import "destination";
@import "subdestiantion";
@import "tailwind";
@import "search";
@import "common";
@import "admin_style";
@import "skintype";
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:wght@400;500;600;700;800;900&display=swap');

//Variant
$heading: 64px;
$heading_1: 42px;
$heading_2: 38px;
$heading_3: 32px;
$heading_4: 24px;
$heading_5: 20px;
$medium_text: 16px;
$body_text: 14px;
$small_text: 12px;

body{
  background: v.$bg_color;
  min-height: 100vh;
}
.page{
  min-height: 100vh;
}
.test {
  font-family: var(--font-family);
}
root {
  background: v.$bgcolor;
  color: #000;
}

//Typo set up
.heading{
  font-size: $heading;
  line-height: $heading*1.1;
  font-weight: 600;
}
.heading_1 {
  font-size: $heading_1;
  line-height: $heading_1*1.25;
  font-weight: 500;
}
.heading_2 {
  font-size: $heading_2;
  line-height: $heading_2*1.25;
  font-weight: 500;
}
.heading_3 {
  font-size: $heading_3;
  line-height: $heading_3*1.25;
  font-weight: 500;
}
.heading_4 {
  font-size: $heading_4;
  line-height: $heading_4*1.25;
  font-weight: 500;
}
.heading_5 {
  font-size: $heading_5;
  line-height: $heading_5*1.25;
  font-weight: 500;
}
.heading_6 {
  font-size: $medium_text;
  line-height: $medium_text*1.25;
  font-weight: 500;
}
.body_text {
  font-size: $body_text;
  line-height: $body_text*1.5;
}
.medium_text {
  font-size: $medium_text;
  line-height: $medium_text*1.5;
}
.small_text {
  font-size: $small_text;
  line-height: $small_text*1.5;
}
//Button
.my-out-line-btn{
  border: 1px solid v.$primary_color;
  padding: 8px 32px;
  text-transform: uppercase;
}
.my-out-line-btn:hover{
  background: rgba(v.$primary_color, 0.1);
}
.my-btn-pr{
  background: v.$primary_color;
  color: #fff;
  padding: 8px 32px;
  text-transform: uppercase
}
.my-btn-pr:hover{
  background: #19202B;
  color: #fff;
}

//scroll to top btn
.back-show{
  display:flex !important;
}
.back-to-top {
  display: none;
  z-index: 30000;
  color: #333;
  position: fixed;
  right: 40px;
  bottom: 8%;
  cursor: pointer;
  background: rgba(v.$border_color, 0.8);
  height: 50px;
  width: 50px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}
//input style
input{
  background: transparent;
}
.my-input{
  border: 1px solid v.$border2_color;
}
input:focus-visible{
  outline: v.$subcolor2 solid 1px;
}
.nav-search{
  border: none !important;
}
.my-search-bar{
  input:focus-visible{
    outline: none;
  }
  .searchbar-head{
    background: transparent;
    width: 700px;
  }
}
textarea:focus-visible{
  outline: v.$primary_color solid 1px;
}
.my-search-bar{
  border-bottom: 1px solid v.$secondary_color;
}
body{
  font-family: 'Karla', sans-serif;
  color: v.$text_color;
  font-size: 14px;
  line-height: 1.5;
}
//spacing
.container-fluid{
  padding-left: 20px;
  padding-right: 20px;
}
.p-60{
  padding-top: 60px;
  padding-bottom: 60px;
}
.p-100{
  padding-top: 100px;
  padding-bottom: 100px;
}
//Search bar
.searchbar{
  position: fixed;
  z-index: 3000;
  background: v.$bg_color;
  top:0;
  right:0;
  left: 0;
  .search-bar-inner{
    .search-here{
      border-bottom: 1px solid v.$border_color;
      .grid{
        height: 69px;
        .close-search{
          align-self: center;
          display: flex;
          justify-content: end;
        }
      }
    }
  }
}
.s-true{
  display: block;
}
.s-false{
  display: none;
}
//Header
#blog-nav{

  .active{
    width: 100%;
    position: fixed;
    height: 61px;
    top: 0px;
    transition: 0.3s linear;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: v.$bg_color;
    border-bottom: 1px solid v.$border_color;
    z-index: 1000;
  }
}
.nav_blog{
  .nav-blog-inner{
    border-bottom: 1px solid v.$border_color;
  }
  .guide-navdrop, .destination-navdrop{
    .navdrop-inner{
      z-index: 3000;
      display: none;
      width: max-content;
      background: v.$bg_color;
      border-left: 1px solid v.$border_color;
      border-right: 1px solid v.$border_color;
      border-bottom: 1px solid v.$border_color;
    }
  }
  .guide-navdrop:hover .navdrop-inner{
    display: block;
  }
  .destination-navdrop:hover .navdrop-inner{
    display: block;
  }
}
//Footer
#blog-footer{
  margin-top: 60px;
  .sub-menu ul li:hover a{
    color: #666;
  }
}
.blog-footer{
  padding: 0 20px;
  .blog-footer-inner{
    padding: 40px 0;
    border-top: 1px solid v.$border_color;
    border-bottom: 1px solid v.$border_color;
  }
  .footer-sub{
    padding-top: 20px;
    padding-bottom: 20px;
    .my-social{
      justify-content: end;
    }
  }
}

@media only screen and (min-width: 768px) {
  .container-fluid{
    padding-left: 120px;
    padding-right: 120px;
  }
  .search-bar-inner{
    padding-left: 120px;
    padding-right: 120px;
  }
  .nav_blog {
    padding-left: 120px;
    padding-right: 120px;
  }
  .blog-footer {
    padding: 0 120px;
  }
}
//icon size
.icon-sm{
  height: 22px;
}
.icon-ssm{
  height: 20px;
}

//hover gallery img to see content
.gallery-s{
  .gallery-inner{
    .gallery-content{
      display: none;
    }
  }
}
.gallery-s:hover .gallery-content{
  display: block;
}

//My carousel
.slider-wrp{
  .slider-control{
    .next-button{
      right:-40px;
      top: 40%;
      .my-next-btn{
        width: 30px;
        height: 30px;
        background: v.$border_color;
        border-radius: 40px;
      }
    }
    .prev-button{
      left: -40px;
      top: 40%;
      .my-prev-btn{
        width: 30px;
        height: 30px;
        background: v.$border_color;
        border-radius: 40px;
      }
    }
  }
}

//Hover state for a tag
.text-link{
  text-decoration: none;
  position: relative;
}
.text-link:after{
  content: "";
  left: 0;
  width: 100%;
  display: block;
  position: absolute;
  bottom: -1px;
  height: 1px;
  background: v.$text_color;
  transition: transform .2s ease,opacity .4s cubic-bezier(.215,.61,.355,1);
  transform: scaleX(1);
  transform-origin: 0 50%;
}
.text-link:hover:after{
  transform: scaleX(0);
  transform-origin: 100% 50%;
}
//SIDEBAR STYLE
#sidebar{
  color: #fff;
  background: v.$primary_color;
  .sidebar-title{
    .logo{
      font-size: 24px;
    }
  }
  .sidebar-content{
    ul li{
      margin-bottom: 8px;
      font-size: 18px;
      font-weight: 600;
    }
    .content-first{
      border-bottom: 1px solid v.$border_color;
    }
  }
  button{
    bottom: 5%;
    right: 0;
    left: 0
  }
}