@use "variables" as v;

.article-single-post {
  display: flex;
  flex-direction: column;

  //margin-top: 60px;
  .article-out {
    padding: 60px 0px 0 0px;

    .catalog {
      margin-bottom: 30px;

      .list {
        padding: 30px;

        .all-list {
          ul li {
            margin-bottom: 8px;
          }

          ul li:last-child {
            margin-bottom: 0px;
          }
        }
      }
    }

    .article-content {
      padding-bottom: 60px;
    }
  }
}
@media screen and (max-width: 768px){
  .article-single-post {
    flex-direction: column-reverse;
  }
}

.article-sidebar {
  padding-top: 60px;

  .sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;

    .article-recently {
      border: 1px solid v.$border2_color;
      padding: 20px;
    }

    .welcome-content {
      border: 1px solid v.$border2_color;
      padding: 20px;
    }

    .share-on-social {
      border: 1px solid v.$border2_color;
      padding: 20px;
    }
  }
}

.main-article {
  .sub-main-article {
    border-top: 1px solid v.$border2_color;
    border-bottom: 1px solid v.$border2_color;
  }
}

.comment {
  .comment-main {
    padding: 24px 0;
  }

  .comment-border {
    border-bottom: 1px solid v.$border2_color;
  }

  .cmt-select {
    border: 1px solid v.$border2_color;
    padding: 8px 8px;
    background: transparent;
  }

  .paginate {
    align-items: center;

    .pagi-item {
      background: #ccc;
      height: 12px;
      width: 12px;
      align-items: center;
      justify-content: center;
    }
  }
}

.leavecmt {
  padding-top: 60px;
  border-top: 1px solid v.$border2_color;

  .user-cmt {
    display: inline-grid;
    width: 100%;
  }
}

textarea {
  background: transparent;
}

//article single page - test n review page
.test-review-page {
  .review-banner {
    .banner-left {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    .banner-right {
      img {
        position: absolute;
        object-fit: cover;
        height: 100%;
        width: 50%;
        left: 50%;
        top: 0%;
      }
    }
  }

  .main-content {
    margin-top: 60px;

    .ntd-tabs {
      height: 400px;
      margin-bottom: 60px;

      .tabs-all-here {
        border-bottom: 1px solid #999;
        cursor: pointer;

        .my-tabs {
          color: #999;
        }

        .my-tabs.active {
          color: #333;
          border-bottom: 1px solid #333;
        }
      }
    }
  }
}

.process-bar {
  position: sticky;
  top: 0;
  z-index: 11111;

  .process-content {
    width: 0;
    height: 0;
    background: black;
  }
}

.dark {
  .process-content {
    background: white;
  }
}

// TABLE OF CONTENTS TEST
.toc-wrapper.toc-show{
  opacity: 1 !important;
  display: flex !important;
  transform: translateX(0px) !important;
 
}
.toc-wrapper.toc-visible {
  transform: translateX(calc(-100% + 56px));
}
.toc-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: sticky;
  bottom: 32px;
  left: 0;
  height: 0;
  width: fit-content;

  z-index: 1000;
  transition: transform 0.5s, opacity 0.5s ease;
  transform: translateX(-100%);

  .collapsed {
    writing-mode: vertical-rl;
    white-space: nowrap;
    cursor: pointer;
    padding: 24px 16px;
    background: #000;
    color: #FBFBFA;
  }
}


.toc-btn {
  transition: transform 0.6s ease, opacity 0.6s ease;
  transform: translateX(0);
}
.toc-btn.Close {
  transform: translateX(-100%);
  /* Move the vertical text off-screen */
  opacity: 0;
  /* Fade out the vertical text */
  width: 0;
}

.toc-content {
  box-shadow: 2px 2px 6px rgba(22, 27, 29, 0.12);
  background: #FBFBFA;
  padding: 30px;
  text-align: left;
  transform: translateX(0);
  
  width: 500px;
  .all-list{
    .list-here li{
      margin-bottom: 8px;
    }
    .list-here li:last-child{
      margin-bottom: 0;
    }

  }
}

@media screen and (max-width: 768px){
  .toc-wrapper {
    top: 0;
    align-items: flex-start;
    width: calc(100vw + 56px);
  }
  .toc-content {
    width: 100vw;
  }
}
