@use "variables" as v;
.article-single-post{
  //margin-top: 60px;
  .article-out{
    padding: 60px 60px 0 0px;
    .catalog{
      margin-bottom: 30px;
      .list{
        padding: 30px;
        border: 1px solid v.$border2_color;
        .all-list{
          ul li{
            margin-bottom: 8px;
          }
          ul li:last-child{
            margin-bottom: 0px;
          }
        }
      }
    }
    .article-content{
      padding-bottom: 60px;
    }
  }
}
.article-sidebar{
  padding-top: 60px;
  .sidebar{
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    .article-recently{
      border: 1px solid v.$border2_color;
      padding: 20px;
    }
    .welcome-content{
      border: 1px solid v.$border2_color;
      padding: 20px;
    }
    .share-on-social{
      border: 1px solid v.$border2_color;
      padding: 20px;
    }
  }
}
.main-article{
  border-bottom: 1px solid v.$border2_color;

  .sub-main-article{
    border-top :1px solid v.$border2_color;
    border-bottom :1px solid v.$border2_color;
  }
}
.comment{
  .comment-main{
    padding: 24px 0;
  }
  .comment-border{
    border-bottom: 1px solid v.$border2_color;
  }
  .cmt-select{
    border: 1px solid v.$border2_color;
    padding: 8px 8px;
    background: transparent;
  }
  .paginate{
    align-items: center;
    .pagi-item{
      background: #ccc;
      height: 12px;
      width: 12px;
      align-items: center;
      justify-content: center;
    }
  }
}
.leavecmt{
  padding-top:60px;
  border-top: 1px solid v.$border2_color;
  .user-cmt{
    display: inline-grid;
    width: 100%;
  }
}
textarea{
  background: transparent;
}

//article single page - test n review page
.test-review-page{
  .review-banner{
    .banner-left{
      background: #EBE4DC;
      padding-top: 80px;
      padding-bottom: 80px;
    }
    .banner-right{
      img{
        position: absolute;
        height: 100%;
        width: 50%;
        left: 50%;
        top: 0%;
        object-fit: cover;
      }
    }
  }
  .main-content{
    margin-top: 60px;
    .ntd-tabs{
      height: 400px;
      margin-bottom: 60px;
      .tabs-all-here{
        border-bottom: 1px solid #999;
        cursor: pointer;
        .my-tabs{
          color: #999;
        }
        .my-tabs.active{
          color: #333;
          border-bottom: 1px solid #333;
        }
      }
    }
  }
}