// css for slider
.slider-wrp {
    .slider-content {
        overflow-y: hidden;
        overflow-x: auto;
    }
    .slider-content::-webkit-scrollbar {
        display: none;
    }
    //overflow: hidden;
    width: 100%;
    position: relative;
    .slider-items {
        gap: var(--slide-gap);
    }
    @media screen and (max-width: 768px) {
        .slider-items {
            gap: var(--slide-gap-mobile);
        }
    }
    .slider-control {
        width: 100%;
        //opacity: 0;
        .prev-button {
            position: absolute;
            //top: 50%;
            left: -20px;
            z-index: 1000000;
            transform: translateY(-50%);
            transition: opacity var(--transition-duration) cubic-bezier(0.645, 0.045, 0.355, 1) 0s;  
        }
        .next-button {
            z-index: 1000000;
            transform: translateY(-50%);
            position: absolute;
            //left: auto;
            right: -20px;
            transition: opacity var(--transition-duration) cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
        }
        .btn-disable {
            opacity: 0.5;
        }
        
    }
    @media (max-width: 768px) {
        .slider-control {
            opacity: 1;
        }
    }
    
}
.slider-wrp:hover {
    .slider-control {
        opacity: 1;
    }
}

.slider-items {
    display: flex;
    overflow: hidden;
}
.slider-item {
    width: 100%;
    transition: all var(--transition-duration) cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

// css for modal

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal {
    //display: flex;
    //justify-content: center;
    //align-items: center;
    //position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    overflow: hidden;
}

.modal-open {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-dialog {
    background: white;
    //width: 500px;
    //height: auto;
    //display: flex;
    //align-items: center;
    //justify-content: center;
    //flex-direction: column;
    .modal-header{
        margin-bottom: 20px;
    }
}
.modal-invisible-background {
    background: transparent !important;
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.subcate, .category {
    width: 500px;
    height: 100%;
    padding: 30px 30px;
    position: absolute;
    right: 0;
}
.post{
    height: 100%;
    width: calc(100% - 16.666667%);
    position: absolute;
    right: 0;
    padding: 30px;
}

@keyframes rotation {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
} 
.text-editor-wrp {
    margin-top: 40px
}
.demo-wrapper {
    border: 1px solid #ccc;
}
.text-editor-html-test {
    margin-top: 40px;
    width: 100%;
    border: 1px solid #ccc;
    height: 400px;
}
.text-editor-result-test {
    margin-top: 40px;

    img {
        display: unset;
    }
}

//Pagination
@keyframes cdp-in {
    from {
        transform: scale(1.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.cdp {
    //position: relative;
    padding: 20px 0;
    font-size: 0;
    z-index: 6;
    //margin: 50px 0;
    //animation: cdp-in 500ms ease both;
    //animation-timeout: 200ms;

    &_i {
        text-align: center;
        font-size: 14px;
        text-decoration: none;
        transition: background 250ms;
        display: inline-block;
        text-transform: uppercase;
        margin: 0 3px 6px;
        height: 34px;
        min-width: 34px;
        border-radius: 34px;
        border: 1px solid #ccc;
        line-height: 34px;
        padding: 0;
        color: #ccc;
        font-weight: 600;
        letter-spacing: .03em;
        display: none;

        &:first-child{
            margin: 0 12px 6px 0;
            padding: 0 16px;
        }
        &:last-child {
            padding: 0 16px;
            margin: 0 0 6px 12px;
        }

        &:last-child,
        &:nth-child(2),
        &:nth-last-child(2) {
            display: inline-block;
        }
    }

    &_i:hover {
        background-color: #ccc;
        color: #fff;
    }

    &:not([actpage="1"]) &_i:nth-child(1) {
        display: inline-block;
    }
}
@for $i from 1 through 80 {
    .cdp[actpage="#{$i}"] {
        // 3 before
        .cdp_i:nth-child(#{$i - 2}):not(:first-child):not(:nth-child(2)) {
            display: inline-block;
            pointer-events: none;
            color: transparent;
            border-color: transparent;
            width: 50px;
            &:after {
                content: '...';
                color: #000;
                font-size: 24px;
                margin-left: -6px;
            }
        }
        // 2 before
        .cdp_i:nth-child(#{$i - 1}):not(:first-child) {
            display: inline-block;
        }
        // before
        .cdp_i:nth-child(#{$i}):not(:first-child) {
            display: inline-block;
        }
        // active
        .cdp_i:nth-child(#{$i + 1}) {
            background-color: #000;
            color: #fff;
            display: inline-block;

            +.cdp_i:last-child {
                display: none !important;
            }
        }
        // next
        .cdp_i:nth-child(#{$i + 2}):not(:last-child) {
            display: inline-block;
        }
        // 2 next
        .cdp_i:nth-child(#{$i + 3}):not(:last-child) {
            display: inline-block;
        }
        // 3 next
        .cdp_i:nth-child(#{$i + 4}):not(:last-child):not(:nth-last-child(2)) {
            display: inline-block;
            pointer-events: none;
            color: transparent;
            border-color: transparent;
            width: 50px;
            &:after {
                content: '...';
                color: #000;
                font-size: 24px;
                margin-left: -6px;
            }
        }
    }
}