.editer-action {
    position: fixed;
    bottom: 120px;
    right: 10px;
    background: black;
    color: white;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}
// .jodit-workplace {
//     flex-direction: row-reverse !important;
// }