@font-face {
  font-family: 'GTlight';
  src: url('../typeface/GT-Walsheim-Light-Trial.otf');
}

@font-face {
  font-family: 'GTmedium';
  src: url('../typeface/GT-Walsheim-Medium-Trial.otf');
}

@font-face {
  font-family: 'GTregular';
  src: url('../typeface/GT-Walsheim-Regular-Trial.otf');
}

