@use 'variables' as v;
.home-banner{
  .banner-right{
    //background-image: url("../imgs/banner2.png");
    //background-size: cover;
    //background-repeat: no-repeat;
    //background-attachment: fixed;
    .spin-logo{
      right: 10%;
    }
  }
}
.article-info{
  border-bottom: 1px solid v.$border2_color;
}
.category-destination{
  .h-popular-des-ct{
    overflow: hidden;
    .category-des-content{
      top: 45%;
      right: 25%;
      .top-destination-title{
        border-bottom: 1px solid v.$border2_color;
      }
      .sub-title{
        border-bottom: 1px solid v.$border2_color;
      }
      .article-count{
        border-right: 1px solid v.$text_color;
      }
    }
  }
}
.home-about{
  border-top: 1px solid v.$border2_color;
  border-bottom: 1px solid v.$border2_color;
  .about-intro{
    .relative{
      height: 100%;
      .absolute{
        bottom: 0;
      }
    }
  }
}
.home-contact-me{
  position: relative;
  height: 430px;
  //padding: 140px 40px;
  background-image: url("../imgs/contactme.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  .contact-inner{
    position: absolute;
    top: 45%;
    left: 60px;
    display: inline-block;
    padding: 40px 40px;
    background-color: #fff;
  }
}
.home-decor{
  background-image: url("../imgs/homedecor.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 25%;

}
.title-section-home{
  max-width: 60%;
}
.subcate-des{
  max-width: 70%;
}
.list-category{
  max-width: 30%;
}
.title-main{
  font-size: 52px;;
  line-height: 52*1.1;
  font-family: 'GTregular',serif;
}
.home-category-card {
  cursor: pointer;
  box-sizing: border-box;
  transition: background 0.2s ease;
  border: 1px solid transparent;
  .home-category-card-des {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
  }
  .home-category-card-img {
    bottom: 0;
    position: absolute;
    transition: all 0.8s ease;
  }
}
.home-category-card-active {
  background: #F4F2F0;
  border: 0.5px solid #CCCCCC;
  .home-category-card-des {
    opacity: 1;
    transform: translateY(0);
  }
  .home-category-card-img {
    padding: 0 16px;
    width: 50%;
    bottom: 16px;
    position: absolute;
  }
}