@use 'variables' as v;
.skintype-page{
  .skintype-inner{
    max-height: 450px;
  }
  .head-content{
    .heading{
      margin-bottom: 26px;
    }
  }
  .skin-bar{
    border-bottom: 1px solid v.$border2_color;
  }
}

.my-collapse{
  padding: 14px 0;
  border-bottom: 1px solid v.$border2_color;
  .question-container{
    cursor: pointer;
  }
  .btn-question {
    transition: all 0.35s ease;
  }
  .content-container {
    transition: all 0.5s ease;
    max-height: 0;
    overflow: hidden;
    p {
      transition: all 0.7s ease;
      transform: translateY(10px);
      opacity: 0;
    }
  }

}
.expanded{
  .btn-question {
    transform: rotate(180deg);
  }
  .content-container {
    max-height: max-content;
    p {
      opacity: 1;
      transform: translateY(0);
    }
  }
}