@use 'variables' as v;
.skintype-page{
  .mt60{
    padding-top: 80px;
  }
  padding-top: 40px;
  .head-content{
    .heading{
      margin-bottom: 26px;
    }
  }
  .skin-bar{
    border-bottom: 1px solid v.$border2_color;
  }
  .all-faq{

  }
}