@use 'variables' as v;
.skintype-page{
  .mt60{
    padding-top: 80px;
  }
  padding-top: 40px;
  .head-content{
    .heading{
      margin-bottom: 26px;
    }
  }
  .skin-bar{
    border-bottom: 1px solid v.$border2_color;
  }
  .all-faq{

  }
  .my-collapse{
    padding: 14px 0;
    border-bottom: 1px solid v.$border2_color;
    .question-container{
      cursor: pointer;
    }
    .btn-question{
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.35s ease;
    }
    .container-container{
      transition: all 0.5s ease;
      max-height: 0;
      overflow: hidden;
    }
  }
  .expanded{
    .btn-question{
      transition: rotate(180deg);
    }
    .content-container{
      max-height: 100px;
      p{
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}