@use "variables" as v;

.sub-des-page{
  .sub-des-inner{
    .left-menu{
      border-right:1px solid v.$border2_color;
      padding-top: 60px;
      .left-menu-inner{
        position: sticky;
        top: 154px;
        padding-bottom: 60px;
        .menu-fixed{
          li{
            border-bottom: 1px solid #ccc;
          }
        }
      }
    }
    .right-all-posts{
      padding-top: 32px;
      .title-page{
        .main-title{
          //top: 35%;
          //left: 5%;
          top: 40%;
          left: 32%;
          transform: translate(-40%, -32%);
          .heading{
            color:#fff;
            font-size: 52px;
          }
        }
      }
      .destination-title{

      }

    }
  }
}
//.top-sub-destination{
//  .top-sub-inner{
//    .top-main{
//      .top-content{
//        top: 40%;
//        right: 32%;
//      }
//    }
//    .top3-content{
//
//      .absolute{
//        bottom: 30px;
//      }
//    }
//  }
//}
//.subdes-banner{
//  .subdes-content{
//    top: 25%;
//    right: 30%;
//    .des-count{
//      border-right: 1px solid #fff;
//    }
//    .show-all-btn{
//      margin-top: 150px;
//    }
//  }
//}
.sub-des-inner {
  .overflow-hidden {
    overflow: unset;
    .slider-content {
      padding: 0 calc((100vw - min(100vw, 1100px)) / 2);
      .slider-text-banner {
        opacity: 0;
        transition: all 0.5s ease;
      }
      .slider-item {
        display: flex;
        justify-content: start;
      }
      .slider-content-wrp {
        opacity: 0;
      }
      .slider-img {
        aspect-ratio: 20/9;
        transform: scale(0.6);
        transition: all 0.5s ease;
      }
      .slider-container {
        width: 100%;
      }
      .slide-active {
        display: flex;
        justify-content: end;
        .slider-text-banner {
          opacity: 1;
        }
        .slider-content-wrp {
          opacity: 1;
        }
        .slider-img {
          transform: scale(1);
        }
        .slider-container {
          width: 90%;
        }
      }
    }
  }
}
