@use "variables" as v;

.sub-des-page{
  .sub-des-inner{
    .left-menu{
      border-right:1px solid v.$border2_color;
      padding-top: 60px;
      .left-menu-inner{
        position: sticky;
        top: 154px;
        padding-bottom: 60px;
        .menu-fixed{
          li{
            border-bottom: 1px solid #ccc;
          }
        }
      }
    }
    .right-all-posts{
      padding-top: 32px;
      .title-page{
        .main-title{
          top: 35%;
          left: 5%;
        }
      }
    }
  }
}
//.top-sub-destination{
//  .top-sub-inner{
//    .top-main{
//      .top-content{
//        top: 40%;
//        right: 32%;
//      }
//    }
//    .top3-content{
//
//      .absolute{
//        bottom: 30px;
//      }
//    }
//  }
//}
//.subdes-banner{
//  .subdes-content{
//    top: 25%;
//    right: 30%;
//    .des-count{
//      border-right: 1px solid #fff;
//    }
//    .show-all-btn{
//      margin-top: 150px;
//    }
//  }
//}