$bg_color: #f7f3ef;
$bgcolor: #f2f2f2;
$primary_color: #1D1D1D;
$secondary_color: #DFE3EA;
$border_color: #ebe4dc;
$border2_color: #1D1D1D;
$text_color: #0f0b0a;
$subcolor2: #73424f;
$primary_variant2: #F7F4F1;
